.roll-icon {
  text-align: center;
}

.roll-icon td:hover {
  background-color: red;
}

.roll-icon td:active {
  background-color: rgb(173, 0, 0);
}

.roll_button{
  width: 215px;
  height: 5em;
}

.roll-icon td {
  width: 50px;
  height: 50px;
  background-color: #04AA6D;
}


.roll-icon i {
  margin-block-end: 3px;
  margin-inline-start: 3px;
}

.boxik {
  background-color: rgb(70 70 70);
  border-radius: 1rem;
}

.table_dice {
  padding: 100%;
}

.input_but {
  height: 69px;
  width: 69px;

}

.enter_input {
  max-width: 80px;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.but_plus {
  height: 69px;
  max-width: 69px;
  display: inline;
  background-color: red;
}

.number_of_roll td {
  font-weight: bold;
}

#how-mutch-table {
  display: block;
  margin-bottom: 50px;
}

#how-mutch-table th {
  background-color: #04AA6D;
  border: solid;
}

#how-mutch-table th:hover {
  background-color: red;
}

#how-mutch-table th:active {
  background-color: rgb(173, 0, 0);
}

#how-mutch-table th {
  padding: 20px;
  text-align: center;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 25px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}