.roll-icon{text-align: center;}
.roll-icon td:hover{background-color: red;}
.roll-icon td:active{background-color: rgb(173, 0, 0);}
.roll-icon td{width: 50px;height: 50px; background-color: #04AA6D;}
.table-block{padding: 21px;}

.roll-icon i{
  margin-block-end: 3px;
  margin-inline-start: 3px;
}
.number_of_roll td{
  font-weight: bold;
}
#how-mutch-table{
    display: block;
    margin-bottom: 50px;
}
#how-mutch-table th {background-color: #04AA6D;
    border: solid;
}
#how-mutch-table th:hover{background-color: red;}
#how-mutch-table th:active{background-color: rgb(173, 0, 0);}


.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 637px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 25px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }









  